<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Energy Infrastructure API</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>
  <body>
    <h1>Endpoints</h1>
    <ul>
      <li>/active_platforms</li>
      <li>/active_platforms/oil_gas</li>
      <li>/biodiesel</li>
      <li>/electric_grid</li>
      <li>/electric_grid/dc</li>
      <li>/electric_grid/under_100</li>
      <li>/electric_grid/345_735_kV_AC</li>
      <li>/electric_grid/100_300_kV_AC</li>
      <li>/mines</li>
      <li>/mines/coal</li>
      <li>/mixed_shale_chalk</li>
      <li>/mixed_shale_chalk/gas</li>
      <li>/pipelines</li>
      <li>/pipelines/gas</li>
      <li>/pipelines/oil</li>
      <li>/pipelines/petroleum_product</li>
      <li>/power_plants</li>
      <li>/power_plants/hydroelectric</li>
      <li>/power_plants/coal</li>
      <li>/power_plants/natural_gas</li>
      <li>/power_plants/nuclear</li>
      <li>/power_plants/petroleum</li>
      <li>/power_plants/wind</li>
      <li>/power_plants/solar</li>
      <li>/power_plants/pumped_storage</li>
      <li>/power_plants/geothermal</li>
      <li>/power_plants/wood</li>
      <li>/power_plants/other_fossil_gases</li>
      <li>/processing_plants</li>
      <li>/processing_plants/gas</li>
      <li>/railroads</li>
      <li>/refineries</li>
      <li>/refineries/petroleum</li>
      <li>/shale</li>
      <li>/shale/gas</li>
      <li>/strategic_reserves</li>
      <li>/strategic_reserves/petroleum</li>
      <li>/terminals</li>
      <li>/terminals/petroleum_product</li>
      <li>/terminals/import</li>
      <li>/terminals/export</li>
      <li>/terminals/import_and_export</li>
      <li>/underground_storage</li>
      <li>/underground_storage/gas</li>
      <li>/wells</li>
      <li>/wells/tx_capcog</li>
      <li>/wells/gas</li>
      <li>/wells/oil</li>
    </ul>
	<!-- <script src="index.js"></script> -->
  </body>
</html>